<div
  class="h-screen w-screen overflow-hidden relative select-none bg-[radial-gradient(#e5e7eb_1.5px,transparent_1.5px)] [background-size:24px_24px]"
  (dblclick)="extendLine($event)"
  (mousedown)="deselectAll()"
  (contextmenu)="$event.preventDefault()"
>
  <div
    class="absolute top-0 left-0 flex items-center justify-center z-[100] m-3 gap-2"
  >
    <button
      (click)="addLine('linear')"
      title="Add Linear Line"
      class="px-2 py-1 rounded-lg text-xs font-bold uppercase tracking-tighter bg-white border text-gray-500 border-gray-300 hover:border-[#ff9100] hover:text-[#ff9100]"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m17.5 6.5-11 11"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
        ></path>
        <rect
          x="16.75"
          y="3.75"
          width="3.5"
          height="3.5"
          rx="1.75"
          stroke="currentColor"
          stroke-width="1.5"
        ></rect>
        <rect
          x="3.75"
          y="16.75"
          width="3.5"
          height="3.5"
          rx="1.75"
          stroke="currentColor"
          stroke-width="1.5"
        ></rect>
      </svg>
    </button>
    <button
      title="Add Curve Line"
      (click)="addLine('quadratic')"
      class="px-2 py-1 rounded-lg text-xs font-bold uppercase tracking-tighter bg-white border border-gray-300 hover:border-[#ff9100] text-gray-500 hover:text-[#ff9100]"
    >
      <svg
        fill="none"
        height="24"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          clip-rule="evenodd"
          d="M18.5 6.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM13 5.75h3.012a2.5 2.5 0 1 0 .322-1.5H13a8.71 8.71 0 0 0-4.237 1.092 2.5 2.5 0 0 0-3.421 3.421A8.71 8.71 0 0 0 4.25 13v3.334A2.499 2.499 0 0 0 5.5 21a2.5 2.5 0 0 0 .25-4.988V13a7.22 7.22 0 0 1 .747-3.21 2.5 2.5 0 0 0 3.294-3.294A7.22 7.22 0 0 1 13 5.751zM5.5 19.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm2-11a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
          fill="currentColor"
          fill-rule="evenodd"
        ></path>
      </svg>
    </button>
    <button
      title="Add Step Line"
      (click)="addLine('cubic')"
      class="px-2 py-1 rounded-lg text-xs font-bold uppercase tracking-tighter bg-white border border-gray-300 hover:border-[#ff9100] text-gray-500 hover:text-[#ff9100]"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18.5 7.5v0a4.25 4.25 0 0 1-4.25 4.25h-4.5A4.25 4.25 0 0 0 5.5 16v0"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
        ></path>
        <rect
          x="16.75"
          y="3.75"
          width="3.5"
          height="3.5"
          rx="1.75"
          stroke="currentColor"
          stroke-width="1.5"
        ></rect>
        <rect
          x="3.75"
          y="16.75"
          width="3.5"
          height="3.5"
          rx="1.75"
          stroke="currentColor"
          stroke-width="1.5"
        ></rect>
      </svg>
    </button>

    <div class="relative inline-block text-left">
      <button
        title="Add Shapes"
        (click)="showShapeMenu = !showShapeMenu"
        class="px-4 py-2 bg-white rounded-lg flex items-center justify-center border border-gray-300 hover:border-[#ff9100] hover:text-[#ff9100] text-gray-500"
      >
        <svg
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <!-- Square -->
          <rect x="3" y="3" width="7" height="7"></rect>

          <!-- Circle -->
          <circle cx="18" cy="6" r="3"></circle>

          <!-- Cross -->
          <path d="M14 14l6 6m-6 0l6-6"></path>

          <!-- Triangle -->
          <polygon points="3,21 7,15 11,21"></polygon>
        </svg>
      </button>

      <div
        *ngIf="showShapeMenu"
        class="absolute left-0 mt-2 w-48 origin-top-left bg-white border border-slate-200 rounded-xl shadow-xl z-[200] overflow-hidden"
      >
        <div class="p-1 grid grid-cols-1">
          <button
            *ngFor="let shape of customShapes"
            (click)="addShape(shape)"
            class="flex items-center gap-3 px-4 py-2 text-sm text-slate-600 hover:bg-gray-100 hover:text-[#ff9100] rounded-lg transition-colors text-left"
          >
            {{ shape.name }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="absolute top-0 right-0 flex items-center justify-center z-[100] m-3 gap-2"
  >
    <input
      type="file"
      id="svgUpload"
      (change)="onFileSelected($event)"
      accept=".svg"
      class="hidden"
    />

    <button
      title="Upload"
      (click)="triggerUpload()"
      class="px-2 py-1 rounded-lg text-xs font-bold uppercase tracking-tighter bg-white border text-gray-500 border-gray-300 hover:border-[#ff9100] hover:text-[#ff9100]"
    >
      <svg
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4M17 8l-5-5-5 5M12 3v12"
        />
      </svg>
    </button>

    <button
      title="Download Svg"
      (click)="exportToSVG()"
      class="px-2 py-1 rounded-lg text-xs font-bold uppercase tracking-tighter bg-white border text-gray-500 border-gray-300 hover:border-[#ff9100] hover:text-[#ff9100]"
    >
      <svg
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4M7 10l5 5 5-5M12 15V3"
        />
      </svg>
    </button>

    <button
      title="COPY BASE64"
      (click)="copySVGBase64()"
      class="px-2 py-1 rounded-lg text-xs font-bold uppercase tracking-tighter bg-white border text-gray-500 border-gray-300 hover:border-[#ff9100] hover:text-[#ff9100]"
    >
      <svg
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      >
        <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
        <path
          d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"
        ></path>
      </svg>
    </button>
  </div>

  <div
    class="fixed top-0 left-1/2 transform -translate-x-1/2 z-50 m-3 py-2 px-1 rounded-lg flex items-center justify-center gap-2 mx-1 bg-white border shadow shadow-[#f6f9fb] h-10"
    (mousedown)="$event.stopPropagation()"
    *ngIf="selectedLine"
  >
    <div class="flex items-center justify-center gap-5">
      <img
        title="Line Width"
        class="cursor-pointer p-1 h-8 hover:bg-[#f6f9fb] hover:border rounded-md"
        [src]="linemenu ? '/assets/linewidth2.svg' : '/assets/linewidth.svg'"
        (click)="linemenu = !linemenu"
        (mousedown)="$event.stopPropagation()"
      />

      <div
        *ngIf="linemenu"
        title="Line Width"
        class="absolute top-8 left-1 mt-3 px-4 py-3 min-w-44 flex flex-col items-start justify-center gap-3 rounded-md bg-white border shadow shadow-[#f6f9fb]"
        (mousedown)="$event.stopPropagation()"
      >
        <div class="flex flex-col items-start justify-center gap-2 w-full">
          <span class="text-xs font-semibold" title="Stroke Style"
            >Stroke Style</span
          >
          <div class="flex items-start justify-between w-full">
            <button
              title="Stroke Style : Solid"
              class="w-9 h-9 p-1 flex items-center justify-center shadow cursor-pointer hover:bg-[#f6f9fb] hover:border rounded-md"
              (click)="selectedLine.strokeStyle = 'solid'"
              [ngClass]="
                selectedLine.strokeStyle == 'solid'
                  ? 'border border-[#ff9100] text-[#ff9100]'
                  : 'text-black'
              "
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line
                  x2="24"
                  y1="50%"
                  y2="50%"
                  stroke="currentColor"
                  stroke-width="2"
                  shape-rendering="crispEdges"
                ></line>
              </svg>
            </button>
            <button
              title="Stroke Style : Dashed"
              class="w-9 h-9 p-1 flex items-center justify-center shadow cursor-pointer hover:bg-[#f6f9fb] hover:border rounded-md"
              (click)="selectedLine.strokeStyle = 'dashed'"
              [ngClass]="
                selectedLine.strokeStyle == 'dashed'
                  ? 'border border-[#ff9100] text-[#ff9100]'
                  : 'text-black'
              "
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line
                  x1="1"
                  x2="23"
                  y1="50%"
                  y2="50%"
                  stroke="currentColor"
                  stroke-dasharray="6 2"
                  stroke-width="2"
                  shape-rendering="crispEdges"
                ></line>
              </svg>
            </button>
            <button
              title="Stroke Style : Dotted"
              class="w-9 h-9 p-1 flex items-center justify-end shadow cursor-pointer hover:bg-[#f6f9fb] hover:border rounded-md"
              (click)="selectedLine.strokeStyle = 'dotted'"
              [ngClass]="
                selectedLine.strokeStyle == 'dotted'
                  ? 'border border-[#ff9100] text-[#ff9100]'
                  : 'text-black'
              "
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line
                  x1="2"
                  x2="22"
                  y1="50%"
                  y2="50%"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-dasharray="0 6"
                  stroke-linecap="round"
                ></line>
              </svg>
            </button>
          </div>
        </div>

        <div class="flex flex-col items-start justify-center gap-3 w-full">
          <span class="text-xs font-semibold">Line Width</span>
          <div class="flex items-center justify-center gap-2">
            <input
              type="range"
              step="1"
              min="2"
              [title]="'Line Width : ' + selectedLine.width"
              [(ngModel)]="selectedLine.width"
              class="w-full h-2 cursor-pointer appearance-none rounded-lg border shadow-sm"
              [style.accentColor]="'#ff9100'"
            />

            <input
              type="number"
              step="1"
              min="2"
              [title]="'Line Width : ' + selectedLine.width"
              [(ngModel)]="selectedLine.width"
              class="w-9 h-8 p-1 text-center text-sm no-spinners rounded-md border shadow shadow-[#f6f9fb]"
            />
          </div>
        </div>

        <div class="flex flex-col items-start justify-center gap-2 w-full">
          <span class="text-xs font-semibold">Line Cap</span>

          <div class="flex items-center justify-between w-full">
            <button
              class="w-9 h-9 p-1 flex items-center justify-center shadow cursor-pointer hover:bg-[#f6f9fb] hover:border rounded-md"
              title="Line Cap : Square"
              (click)="selectedLine.linecap = 'square'"
              [ngClass]="
                selectedLine.linecap == 'square'
                  ? 'border border-[#ff9100] text-[#ff9100]'
                  : 'text-black'
              "
            >
              <svg width="40" height="40" viewBox="0 0 40 40">
                <line
                  x1="10"
                  y1="20"
                  x2="30"
                  y2="20"
                  stroke="currentColor"
                  stroke-width="5"
                  stroke-linecap="square"
                />
              </svg>
            </button>
            <button
              class="w-9 h-9 p-1 flex items-center justify-center shadow cursor-pointer hover:bg-[#f6f9fb] hover:border rounded-md"
              *ngIf="selectedLine.strokeStyle != 'dotted'"
              title="Line Cap : Butt"
              (click)="selectedLine.linecap = 'butt'"
              [ngClass]="
                selectedLine.linecap == 'butt'
                  ? 'border border-[#ff9100] text-[#ff9100]'
                  : 'text-black'
              "
            >
              <svg width="40" height="40" viewBox="0 0 40 40">
                <line
                  x1="10"
                  y1="20"
                  x2="30"
                  y2="20"
                  stroke="currentColor"
                  stroke-width="5"
                  stroke-linecap="butt"
                />
              </svg>
            </button>
            <button
              class="w-9 h-9 p-1 flex items-center justify-center shadow cursor-pointer hover:bg-[#f6f9fb] hover:border rounded-md"
              title="Line Cap : Round"
              (click)="selectedLine.linecap = 'round'"
              [ngClass]="
                selectedLine.linecap == 'round'
                  ? 'border border-[#ff9100] text-[#ff9100]'
                  : 'text-black'
              "
            >
              <svg width="40" height="40" viewBox="0 0 40 40">
                <line
                  x1="10"
                  y1="20"
                  x2="30"
                  y2="20"
                  stroke="currentColor"
                  stroke-width="5"
                  stroke-linecap="round"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="relative flex items-center justify-center h-8 w-8 rounded-md hover:bg-[#f6f9fb] hover:border"
    >
      <div
        class="w-6 h-6 border-2 cursor-pointer transition-all flex items-center justify-center rounded-full"
        [style.backgroundColor]="selectedLine.color"
        [style.borderColor]="isColorPickerOpen ? '#ff9100' : '#e5e7eb'"
        (click)="openColorPicker(colorInput)"
        title="Change Color"
      ></div>

      <input
        #colorInput
        type="color"
        class="absolute top-5 opacity-0 w-full h-full cursor-pointer"
        [(ngModel)]="selectedLine.color"
        (change)="isColorPickerOpen = false"
        (mousedown)="$event.stopPropagation()"
      />
    </div>

    <div
      *ngIf="selectedLine.type !== 'linear'"
      class="relative flex items-center justify-center h-8 w-8 rounded-md hover:bg-[#f6f9fb] hover:border"
    >
      <div
        class="w-6 h-6 border-2 cursor-pointer transition-all flex items-center justify-center rounded-full"
        [style.backgroundColor]="selectedLine.fill"
        [style.borderColor]="isFillColorPickerOpen ? '#ff9100' : '#e5e7eb'"
        (click)="openFillColorPicker(fillColorInput)"
        title="Change Fill Color"
      ></div>
      <input
        #fillColorInput
        type="color"
        class="absolute top-5 opacity-0 w-full h-full cursor-pointer disabled:cursor-not-allowed"
        [(ngModel)]="selectedLine.fill"
        (change)="isFillColorPickerOpen = false"
        (mousedown)="$event.stopPropagation()"
      />
    </div>
    <div
      (click)="duplicateLine($event, selectedLine)"
      class="w-8 h-8 bg-white flex items-center justify-center transition-transform cursor-pointer hover:bg-[#f6f9fb] hover:border rounded-md hover:text-[#ff9100]"
      title="Duplicate"
      (mousedown)="$event.stopPropagation()"
    >
      <svg
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        (mousedown)="$event.stopPropagation()"
      >
        <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
        <path
          d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"
        ></path>
      </svg>
    </div>

    <div
      title="Delete"
      class="cursor-pointer p-1 h-8 w-8 rounded-md hover:bg-[#f6f9fb] hover:border hover:fill-[#ff9100]"
      (click)="removeWholeLine($event, selectedLine.id)"
      (mousedown)="$event.stopPropagation()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        class=""
      >
        <path
          d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
        />
      </svg>
    </div>
  </div>

  <ng-container *ngFor="let line of lines">
    <div
      class="absolute select-none cursor-move pointer-events-auto"
      [class.border-2]="line.selected || line.hovered"
      [class.border-dashed]="line.selected || line.hovered"
      [class.border-blue-400]="line.selected"
      [class.border-slate-300]="!line.selected && line.hovered"
      [style.left.px]="getBounds(line).left"
      [style.top.px]="getBounds(line).top"
      [style.width.px]="getBounds(line).width"
      [style.height.px]="getBounds(line).height"
      (mousedown)="startMove($event, line)"
      (mouseenter)="line.hovered = true"
      (mouseleave)="line.hovered = false"
      style="will-change: transform, left, top; z-index: 10"
    >
      <svg
        class="w-full h-full overflow-visible pointer-events-none"
        id="canvas-svg"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g
          [attr.transform]="
            'translate(' +
            -getBounds(line).left +
            ',' +
            -getBounds(line).top +
            ')'
          "
        >
          <path
            [attr.d]="getPath(line)"
            [attr.stroke]="line.color"
            [attr.stroke-width]="line.width"
            [attr.fill-opacity]="line.fillOpacity"
            [attr.fill]="line.type === 'linear' ? 'none' : line.fill"
            [attr.stroke-dasharray]="getDashArray(line)"
            [attr.stroke-linecap]="getLineCap(line)"
          />

          <ng-container *ngIf="line.selected">
            <ng-container *ngFor="let seg of getSegments(line)">
              <ng-container *ngIf="line.type === 'quadratic'">
                <line
                  [attr.x1]="line.points[seg.index].x"
                  [attr.y1]="line.points[seg.index].y"
                  [attr.x2]="line.points[seg.index + 1].x"
                  [attr.y2]="line.points[seg.index + 1].y"
                  stroke="#3b82f6"
                  stroke-width="1"
                  stroke-dasharray="3"
                  opacity="0.6"
                />
                <line
                  [attr.x1]="line.points[seg.index + 2].x"
                  [attr.y1]="line.points[seg.index + 2].y"
                  [attr.x2]="line.points[seg.index + 1].x"
                  [attr.y2]="line.points[seg.index + 1].y"
                  stroke="#3b82f6"
                  stroke-width="1"
                  stroke-dasharray="3"
                  opacity="0.6"
                />
              </ng-container>

              <ng-container *ngIf="line.type === 'cubic'">
                <line
                  [attr.x1]="line.points[seg.index].x"
                  [attr.y1]="line.points[seg.index].y"
                  [attr.x2]="line.points[seg.index + 1].x"
                  [attr.y2]="line.points[seg.index + 1].y"
                  stroke="#3b82f6"
                  stroke-width="1"
                  stroke-dasharray="3"
                  opacity="0.6"
                />
                <line
                  [attr.x1]="line.points[seg.index + 3].x"
                  [attr.y1]="line.points[seg.index + 3].y"
                  [attr.x2]="line.points[seg.index + 2].x"
                  [attr.y2]="line.points[seg.index + 2].y"
                  stroke="#3b82f6"
                  stroke-width="1"
                  stroke-dasharray="3"
                  opacity="0.6"
                />
              </ng-container>
            </ng-container>

            <circle
              *ngFor="let pt of line.points; let i = index"
              [attr.cx]="pt.x"
              [attr.cy]="pt.y"
              r="5"
              [attr.fill]="
                hoveredPointIndex === i
                  ? isEndPoint(i, line)
                    ? '#ef4444'
                    : '#22c55e'
                  : 'white'
              "
              [attr.stroke]="
                hoveredPointIndex === i
                  ? isEndPoint(i, line)
                    ? '#ef4444'
                    : '#22c55e'
                  : '#2563eb'
              "
              stroke-width="2"
              class="pointer-events-auto cursor-crosshair transition-colors duration-150"
              (mouseenter)="setHover(i)"
              (mouseleave)="setHover(null)"
              (mousedown)="startPointDrag($event, i)"
              (contextmenu)="deletePoint($event, i)"
            />
          </ng-container>
        </g>
      </svg>
    </div>
  </ng-container>
  <app-controls-help />
  <app-toast #toastComponent />
</div>
